body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Correct file path */
    background-size: cover;  /* This makes the image cover the entire screen */
    background-position: scroll;  /* This centers the image */
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
